:host {
  display: flex;
  flex: 1;
  justify-content: center;
  overflow-y: scroll;
  max-height: calc(var(--doc-height) - 48px);
  flex-flow: column;
}

table {
  border-collapse: collapse;
}

.numColor {
  width: 1px;
  height: 1px;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
  padding: 0;
}

.primeColor {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.num {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2em;
  font-size: 8px;
}

.hidden {
  display: none;
}

.prime {
}
