<div cards>
  @for (player of ts.playerList; track $index) {
    <div player>
      <div name>
        {{ player.name }}
        @if (globals.isDebug && $index === 0) {
          <button (click)="clickCycle($event, player)" mat-icon-button>
            <mat-icon>360</mat-icon>
          </button>
        }
      </div>
      <div hand>
        @if (player.cards.length > 0) {
          <app-tacta-card [canvas]="ts.cardOfPlayer(player, 0,0)"></app-tacta-card>
          @if (player.cards.length > 1) {
            <app-tacta-card [canvas]="ts.cardOfPlayer(player, 1, player.cards.length - 1)"></app-tacta-card>
          }
        }
        @if (globals.isDebug && $index === 0) {
          <div colors>
            @for (color of colorList; track $index) {
              <button (click)="clickColor($event, player, color)" [style]="styleForColor(color, player)" mat-button>
                <mat-icon>keyboard_double_arrow_left</mat-icon>
              </button>
            }
          </div>
        }
      </div>
      <div score>
        {{ score(player) }} / {{ cardCount(player) }}
      </div>
      @if (player.color !== ts.players[ts.playerIdx].color) {
        <div disable></div>
      }
    </div>
  }
</div>
<div board>
  @for (cvs of ts.board; track $index) {
    @if (ts.board.length > 1) {
      <app-tacta-card [canvas]="cvs" info="{{Utils.hex($index)}}"></app-tacta-card>
    } @else {
      <app-tacta-board [canvas]="cvs"></app-tacta-board>
    }
  }
</div>
@if (globals.isDebug) {
  <div info>{{ ts.board[0].asString }}</div>
}
