:host {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 48px);
  background: silver;
  position: relative;

  [cards] {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    [player] {
      display: flex;
      flex: 1;
      flex-flow: column;
      align-items: center;
      position: relative;

      [disable] {
        position: absolute;
        top: 0;
        left: -50px;
        width: calc(100% + 100px);
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
      }

      [name] {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        font-weight: bold;
        margin: 1em;
      }

      [hand] {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        gap: 1em;
      }

      [score] {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
      }
    }
  }

  [board] {
    display: flex;
    flex-flow: row wrap;
    overflow-y: auto;
  }
}
