<div cards>
  @for (player of ts.players; track $index) {
    <div player>
      <div name>
        {{ player.name }}
        @if (globals.isDebug) {
          <button (click)="clickCycle($event, player)" mat-icon-button>
            <mat-icon>360</mat-icon>
          </button>
        }
      </div>
      <div hand>
        @if (player.cards.length > 0) {
          <app-tacta-card [canvas]="ts.cardOfPlayer(player, 0,0)"></app-tacta-card>
          @if (player.cards.length > 1) {
            <app-tacta-card [canvas]="ts.cardOfPlayer(player, 1, player.cards.length - 1)"></app-tacta-card>
          }
        }
      </div>
      <div score>
        {{ score(player) }} / {{ cardCount(player) }}
      </div>
      @if ($index !== ts.playerIdx) {
        <div disable></div>
      }
    </div>
  }
</div>
<div board>
  @for (cvs of ts.board; track $index) {
    @if (ts.board.length > 1) {
      <app-tacta-card [canvas]="cvs" info="{{Utils.hex($index)}}"></app-tacta-card>
    } @else {
      <app-tacta-board [canvas]="cvs"></app-tacta-board>
    }
  }
</div>
