[overlay] {
  --mat-progress-bar-track-height: 25px;
  --mat-progress-bar-active-indicator-height: var(--mat-progress-bar-track-height);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  // border: 5px solid red;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

[panel] {
  --panelBack: var(--toolbarBack);
  --panelFore: var(--toolbarFore);
  --bufferColor: var(--mainBack);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 2% 2% 4% 2%;
  gap: 1em;
  border-radius: 1em;
  background-color: var(--panelBack);
  color: var(--panelFore);
  position: relative;

  [progress] {
    position: relative;
    width: 100%;

    mat-progress-bar {
      --mat-progress-bar-active-indicator-color: rgba(255, 255, 255, 0.4);
      width: 100%;
      height: var(--mat-progress-bar-track-height);
      border-radius: 10px;
      color: white;
    }

    [current] {
      position: absolute;
      font-size: 0.75em;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  button {
    position: absolute;
    bottom: -5px;
  }

  ::ng-deep .mat-progress-bar-buffer {
    background-color: var(--bufferColor);
  }

  ::ng-deep .mat-progress-bar-fill::after {
    background-color: rgba(255, 255, 255, 0.9);
  }

  [label] {
    width: 90%;
    text-align: center;
    font-weight: bold;
  }
}
