:host {
  --size: 40px;
  --spacing: 2px;
  --frame: #000;
  --c-1: #000;
  --c1: #88f;
  --c2: #f00;
  --c3: #f88;
  --c4: #0f0;
  --c5: #00f;
  --c6: #080;
  --c7: #f55;
  --c8: #ff0;
  --c9: #f0f;
  --c10: #0ff;
  --c99: #888;
  --cbw: #aaa;
  --shift: 0.5px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: calc(var(--doc-height) - 48px);
  width: 100vw;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

table.working {
  opacity: 0.2;
}

td {
  cursor: pointer;
  padding: 0;
  width: var(--size);
  height: var(--size);
  position: relative;
  background-color: var(--frame);

  &.c0 [container] {
    color: white !important;
    background: var(--mainBack);
  }

  &.c1 [container] {
    background-color: var(--c1);
  }

  &.c2 [container] {
    background-color: var(--c2);
  }

  &.c3 [container] {
    background-color: var(--c3);
  }

  &.c4 [container] {
    background-color: var(--c4);
  }

  &.c5 [container] {
    background-color: var(--c5);
  }

  &.c6 [container] {
    background-color: var(--c6);
  }

  &.c7 [container] {
    background-color: var(--c7);
  }

  &.c8 [container] {
    background-color: var(--c8);
  }

  &.c9 [container] {
    background-color: var(--c9);
  }

  &.c10 [container] {
    background-color: var(--c10);
  }

  &.c99 [container] {
    color: white !important;
    background-color: var(--c99);
  }

  &.c-1 {
    background-color: var(--c-1);
  }

  &.c-2 {
    &::after {
      content: 'X';
    }

    color: red;
    background-color: white;
  }

  [container] {
    position: absolute;
    top: var(--shift);
    left: var(--shift);
    right: var(--shift);
    bottom: var(--shift);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
    color: transparent;
  }

  [info] {
    font-size: 0.8em;
    opacity: 0.5;
  }
}

tr:first-child {
  td {
    [container] {
      top: calc(var(--shift) * 2);
    }
  }
}

tr:last-child {
  td {
    [container] {
      bottom: calc(var(--shift) * 2);
    }
  }
}

td:first-child {
  [container] {
    left: calc(var(--shift) * 2);
  }
}

td:last-child {
  [container] {
    right: calc(var(--shift) * 2);
  }
}


[board].solution:not(:hover),
[board].monochrome:hover,
[board].solutionShow.monochrome {
  table {
    .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c99 {
      [container] {
        background-color: var(--cbw);
      }
    }
  }
}

[board].solution:hover,
[board].solutionShow {
  [solution] {
    opacity: 0;
  }

  td:not(.left) {
    [container] {
      left: 0;
    }
  }

  td:not(.right) {
    [container] {
      right: 0;
    }
  }

  td:not(.top) {
    [container] {
      top: 0;
    }
  }

  td:not(.bottom) {
    [container] {
      bottom: 0;
    }
  }
}

[board] {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  [solution] {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 2em;
    font-weight: bold;
    pointer-events: none;
  }
}

[part] {
  min-width: 0;
  width: calc(var(--size) + 2 * var(--spacing));
  height: calc(var(--size) + 2 * var(--spacing));
  padding: 0;

  &.selected {
    text-transform: capitalize;
    color: white;
  }
}

[limits] {
  display: flex;
  flex-flow: row;
  gap: 1em;
  font-size: 0.8em;
  padding: 1em 0;
}

div[column] {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

div[row] {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
}

